<div class="container">
    <h1 class="text-center">Tạo loại hàng mới</h1>
    <hr />
  
    <div class="row">
  
      <div class="col-md-12">
        <div class="form-group">
          <label for="Title">Tên loại hàng</label>
          <input required class="form-control" [(ngModel)]="title" #uName="ngModel">
        </div>
      </div>
  
    </div>
  
    <div class="row">
  
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Slug</label>
          <input required class="form-control" [(ngModel)]="slug" #uName="ngModel">
  
        </div>
      </div>
  
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Weight</label>
          <input required class="form-control" [(ngModel)]="weight">
        </div>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Đơn vị (Dependency)</label>
          <div class="input-group mb-3">
              <mat-selection-list class="border" [(ngModel)]="selectedUnitIds" #listroles>
                  <mat-list-option *ngFor="let unit of units" [value]="unit.id">
                    {{unit.title}}
                  </mat-list-option>
                </mat-selection-list>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Loại sóng (Dependency)</label>
          <div class="input-group mb-3">
              <mat-selection-list class="border" [(ngModel)]="selectedWaveTypeIds" #listroles>
                  <mat-list-option *ngFor="let waveType of waveTypes" [value]="waveType.id">
                    {{waveType.title}}
                  </mat-list-option>
                </mat-selection-list>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
    <hr />
  
    <div>
      <button id="create-button" class="btn btn-primary" (click)="save();">Lưu</button>
    </div>
  
  </div>