<div class="container">
    <h1 class="text-center">Tạo loại sóng mới</h1>
    <hr />
  
    <div class="row">
  
      <div class="col-md-12">
        <div class="form-group">
          <label for="Title">Tên loại sóng</label>
          <input required class="form-control" [(ngModel)]="title" #uName="ngModel">
        </div>
      </div>
  
    </div>
  
    <div class="row">
  
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Slug</label>
          <input required class="form-control" [(ngModel)]="slug" #uName="ngModel">
  
        </div>
      </div>
  
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Weight</label>
          <input required class="form-control" [(ngModel)]="weight">
        </div>
      </div>
    </div>
  
    <div class="row">
  
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Hao hụt</label>
            <input required class="form-control" [(ngModel)]="loss" #uName="ngModel">
    
          </div>
        </div>
    
      </div>

      <div class="row">
  
          <div class="col-md-12">
            <div class="form-group">
              <label for="Name">Giá hao hụt</label>
              <input required class="form-control" [(ngModel)]="lossAmount" #uName="ngModel">
      
            </div>
          </div>
      
        </div>
  
  
  
  
    <hr />
  
    <div>
      <button id="create-button" class="btn btn-primary" (click)="createWaveType();">Tạo</button>
    </div>
  
  </div>