<mat-tab-group>
  <mat-tab label="Thông tin">

    <div class="container">
      <h1 class="text-center">Thông tin</h1>
      <div *ngIf="success" class="alert alert-success">Lưu thành công!</div>
      <hr />

      <div class="row">

        <div class="col-md-9">
          <div class="form-group">
            <label for="Title">Tên nhà cung cấp</label>
            <input required class="form-control" [(ngModel)]="title" #uName="ngModel">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="Name">Mã nhà cung cấp</label>
            <input required class="form-control" [(ngModel)]="supplierCode" #uName="ngModel">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label for="Name">Địa chỉ</label>
            <input required class="form-control" [(ngModel)]="address">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="Name">Số điện thoại</label>
            <input required class="form-control" [(ngModel)]="phoneNumber">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="form-group">
            <label for="Name">Nhà sản xuất</label>
            <ng-multiselect-dropdown class="multiselect" [placeholder]="'Nhà sản xuất'" [data]="producerList"
              [(ngModel)]="selectedProducers" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Ghi chú</label>
            <textarea required class="form-control" [(ngModel)]="note"></textarea>
          </div>
        </div>
      </div>


      <hr />


    </div>

  </mat-tab>

  <mat-tab label="Công nợ nhập kho">

      <button id="create-payment" class="btn btn-primary create-button" (click)="openCreatePaymentDialog()">Thanh toán</button>


    <div id="information-header">
      <div class="col">
          <span>Nợ hiện tại: </span>
          <span>{{currentDebt}}</span>
      </div>
    
      <div class="col">
          <span>Định mức công nợ: </span>
          <span>{{currentDebt}}</span>
      </div>
    </div>
    
    <app-payments-table [supplierId]="supplierId"></app-payments-table>

  </mat-tab>





  <mat-tab label="Lịch sử"> Content 3 </mat-tab>

  
</mat-tab-group>