#right-col {
    min-width: 222px;
    text-align: right;
  }

  
  #right-header {
    width: 150px;
    text-align: right;
    padding-right: 30px;
  }

  td {
    height: 15px !important;
    padding: 10px 18px !important;
    vertical-align: middle !important;
  }

  .row {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  
  .filter {
    margin-bottom: 50px;
  }

  .control-label {
    float: right;
    padding-top: 7px;
  }