

  <div class="filter">


    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-row">
            <div class="col-3">
              <label class="control-label">Nhà sản xuất:</label>
            </div>
            <div class="col-7">
              <ng-multiselect-dropdown class="multiselect" [placeholder]="'Nhà sản xuất'" [data]="producers" 
                [(ngModel)]="selectedProducers" [settings]="dropdownSettings" (onSelect)="onProducerIdsChange($event)"
                (onDeSelect)="onProducerIdsChange($event)" [ngModelOptions]="{standalone:true}">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-row">
            <div class="col-3">
              <label class="control-label">Kho</label>
            </div>
            <div class="col-7">
              <div class="form-group">
                  <select class="form-control custom-select" [(ngModel)]="selectedWarehouse" (change)="onWarehouseChange($event.target.value)">
                    <option value="0">Tất cả</option>
                    <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.name}}</option>
                  </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-row">
            <div class="col-3">
              <label class="control-label">Tìm kiếm:</label>
            </div>
            <div class="col-7">
              <input id="search-field" class="form-control" name="search" [(ngModel)]="searchString" />

            </div>
            <div class="col-2">
              <button class="btn btn-primary" (click)="search()"> <i class="fa fa-search">
                  Tìm</i>
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

<table id="user-table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Tên</th>
      <th scope="col" id="right-header">Thao tác</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productName of productNames; let i = index">
      <td>{{productName.name}}</td>
      <td id="right-col">
        <button title="Chi tiết" type="button" class="btn btn-primary" [routerLink]="['/ProductName/Edit/', productName.id ]"><i
          class="fa fa-edit"></i></button>
      <button title="Xóa" type="button" class="btn btn-danger" (click)="openDeleteConfirmationDialog(productName.id)"><i
          class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
