<div class="container">
  <h1 class="text-center">Tạo đơn vị mới</h1>
  <hr />

  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <label for="Name">Tên đơn vị</label>
        <input required class="form-control" [(ngModel)]="name" #uName="ngModel">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <label for="Name">Slug</label>
        <input required class="form-control" [(ngModel)]="slug" #uName="ngModel">

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="Name">Weight</label>
        <input required class="form-control" [(ngModel)]="weight">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="Name">Quy cách cắt hàng</label>
        <div class="input-group mb-3">
          <select [(ngModel)]="goodsCuttingType" class="form-control custom-select">
            <option value="0">Số lượng</option>
            <option value="1">Số Lượng x Chiều Dài</option>
            <option value="2">Số Lượng x Chiều Dài Cố Định</option>
            <option value="3">Số Lượng x Chiều Dài Cố Định Không Nối</option>
            <option value="4">Số Lượng x Chiều Dài x Chiều Rộng</option>
          </select>
        </div>
      </div>
    </div>
  </div>




  <hr />

  <div>
    <button id="create-button" class="btn btn-primary" (click)="createUnit();">Tạo</button>
  </div>

</div>