<h1 class="text-center">Tạo kho hàng mới</h1>
<hr />

<div class="container create-dialog scrollbar">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="Name">Tên kho hàng</label>
        <input required class="form-control" [(ngModel)]="name" #uName="ngModel">
      </div>

      <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
        <div *ngIf="uName.errors.required">
          Không được để trống tên kho hàng!
        </div>
      </div>
    </div>
  </div>


</div>

<hr />
<div>
  <button id="create-button" class="btn btn-primary" (click)="createWarehouse();">Tạo</button>
</div>

<div>
  <button id="cancel-button" class="btn btn-secondary" (click)="cancel();">Hủy</button>
</div>