<h1 class="text-center">Tạo công ty mới</h1>
<hr />

<div class="container create-dialog">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="Name">Tên công ty</label>
        <input required class="form-control" [(ngModel)]="companyName" #uName="ngModel">
      </div>

      <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
        <div *ngIf="uName.errors.required">
          Không được để trống tên công ty!
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label for="Name">Số lượng tài khoản được tạo</label>
              <input required class="form-control" [(ngModel)]="numberOfAccountAllowed">
            </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Name">Số điện thoại</label>
          <input required class="form-control" [(ngModel)]="phoneNumber">
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="Name">Địa chỉ</label>
        <input required class="form-control" [(ngModel)]="address">
      </div>
    </div>
  </div>




  <hr />

  <div>
    <button id="create-button" class="btn btn-primary" (click)="createCompany();">Lưu</button>
  </div>

  <div>
    <button id="cancel-button" class="btn btn-secondary" (click)="cancel();">Hủy</button>
  </div>
</div>