

<ng-container>

  <!-- <label>Hiển thị <select [(ngModel)]="pageSize" (ngModelChange)="pageSizeChange($event)">
      <option [ngValue]=10> 10 </option>
      <option [ngValue]=25> 25 </option>
      <option [ngValue]=50> 50 </option>
    </select> tài khoản </label> -->

    <div style="float:right" class="col-md-auto">

        <div class="row align-items-end d-flex searchDiv">
          <div  class="form-group row col-md-auto">
            <label id="searchLabel" for="search">Tìm kiếm:</label>
            <div>
                <input class="form-control searchBox" name="search" [(ngModel)]="searchString" />
            </div>
        
            <button id="search-button"  type="button" class="btn btn-primary" (click)="search()"> <i
              class="fa fa-search"> Tìm</i>
          </button>
          </div>
        </div>
    </div>
    



  <table id="user-table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table table-striped ">
    <thead>
      <tr>
        <th scope="col" id="stt-column" (click)="sortById()">STT</th>
        <th scope="col" class="clickable" (click)="sortByUserName()">Tên đăng nhập  
           <a *ngIf="sortField == 'UserName' && asc==true">▾</a>
           <a *ngIf="sortField == 'UserName' && asc==false">▴</a>
        </th>
        <th scope="col" class="clickable" (click)="sortByFullName()">Họ tên
          <a *ngIf="sortField == 'FullName' && asc==true">▾</a>
          <a *ngIf="sortField == 'FullName' && asc==false">▴</a>
        </th>
        <th scope="col">Công ty</th>
        <th scope="col">Cửa hàng</th>
        <th scope="col"> Ngày tạo</th>
        <th scope="col" id="right-header">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td scope="row" id="stt-column"> {{(pageIndex-1)*pageSize + i + 1}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.companyName}}</td>
        <td>{{user.storeName}}</td>
        <td>{{user.createdAt | date:"dd/MM/yyyy" }}</td>

        <td class="right">
          <button title="Chi tiết" type="button" class="btn btn-primary" (click)="openEditUserDialog(user.id)"><i class="fa fa-edit"></i></button>
          <button title="Khóa tài khoản" *ngIf="!user.userStatus" type="button" class="btn btn-warning" (click)="openDeactivateConfirmationDialog(user.id)"><i
               class="fa fa-lock"></i></button>
          <button title="Mở khóa tài khoản" *ngIf="user.userStatus" type="button" class="btn btn-success" (click)="openActivateConfirmationDialog(user.id)"><i
              class="fa fa-unlock"></i></button>
          <button title="Khôi phục mật khẩu" type="button" class="btn btn-secondary" (click)="openResetPasswordConfirmationDialog(user.id)"><i
              class="fa fa-history"></i></button>
          <button title="Xóa" type="button" class="btn btn-danger" (click)="openDeleteConfirmationDialog(user.id)"><i
              class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="float:right" class="col-md-auto">
      <ngb-pagination [collectionSize]="totalUser*10/pageSize" [(page)]="pageIndex" aria-label="Default pagination"
    (pageChange)="pageIndexChange($event)">
  </ngb-pagination>
  </div>


  <p>Hiển thị tài khoản {{(pageIndex-1)*pageSize + 1}} tới
    {{pageIndex*pageSize>totalUser?totalUser:pageIndex*pageSize}} trong tổng số {{totalUser}} tài khoản</p>
</ng-container>

