<h1 class="text-center">Tạo khu vực mới</h1>
<hr />

<div class="container create-dialog">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Name">Tên khu vực</label>
        <input required class="form-control" [(ngModel)]="name" #uName="ngModel">
      </div>

      <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
        <div *ngIf="uName.errors.required">
          Không được để trống tên khu vực!
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="CongTy">Công ty</label> 
            <select class="form-control" [(ngModel)]="companyId">
                <option class="form-control" *ngFor="let company of companies" [ngValue]="company.id"> {{company.name}} </option>
              </select>
          </div>
    </div>

  </div>


    <!-- <div class="form-group col-md-6">
      <p>Cửa hàng</p>
      <div class="form-group scrollbar">
        <mat-selection-list class="border" [(ngModel)]="selectedStores">
          <mat-list-option *ngFor="let store of stores" [value]="store.id">
            {{store.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div> -->
  </div>
  <hr />

  <div>
    <button id="create-button" class="btn btn-primary" (click)="createRegion();">Lưu</button>
  </div>

  <div>
    <button id="cancel-button" class="btn btn-secondary" (click)="cancel();">Hủy</button>
  </div>
