
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-home"></i>
                  <p>Trang chủ</p>
                </div>
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i class="fa fa-shopping-cart"></i>
                  <p>Bán hàng</p>
                </div>
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-group"></i>
                  <p>Khách hàng</p>
                </div>
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-sitemap"></i>
                  <p>Loại sản phẩm</p>
                </div>
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-barcode"></i>
                  <p>Sản phẩm</p>
                </div>
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-table"></i>
                  <p>Nhập kho</p>
                </div>
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-money"></i>
                  <p>T/toán nhập kho</p>
                </div>
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-credit-card"></i>
                  <p>Chi tiêu</p>
                </div>
              </a>
            </li>
      
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-user"></i>
                  <p>Tiếp thị</p>
                </div>
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div>
                  <i aria-hidden="true" class="fa fa-truck"></i>
                  <p>Xe hàng</p>
                </div>
              </a>
            </li>
      
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div>
                  <i aria-hidden="true" class="fa fa-bar-chart-o"></i>
                  Báo cáo
                </div>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
      
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <div>
                    <i aria-hidden="true" class="fa fa-pie-chart"></i>
                    Quản lý
                  </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
      
              <li class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div>
                        <i class="fa fa-cog"></i>
                        Q/lý tài khoản
                    </div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">User</a>
                    <a class="dropdown-item" href="/Role">Role</a>
                    <a class="dropdown-item" href="/Permission">Permission</a>
                  </div>
                </li>
      
          </ul>
      
        </div>
      </nav>
</body>
