table {
    width: 100%;
  }

  .centre {
    text-align: center
  }

  .right {
    min-width: 222px;
    text-align: right;
  }

  
  #right-header {
    width: 150px;
    text-align: right;
    padding-right: 60px;
  }

  #add-button {
    margin-bottom: 25px;
  }

  #search-button {
    margin-top : 10px;
    margin-left: 15px;
  }


  td {
    height: 15px !important;
    padding: 10px 18px !important;
    vertical-align: middle !important;
  }
 
  #stt-column {
    width: 35px;
    text-align: center;
  }

  .clickable {
    cursor: pointer;
  }

  button {
    opacity: 0.9;
    margin: 3px;
  }

  th {
    font-size: 18px;
    color: black;
  }

  i {
    text-align: center;
  }

  .btn-warning {
    color:white;
    background-color: #f0ad4e;
  }

  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #007bff;
    background-color: #ffffff;
  }

  .btn-warning:hover,.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    color: #f0ad4e;
    background-color: #ffffff;
  }

  .btn-success:hover,  .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #28a745;
    background-color: #ffffff;
  }

  .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #6c757d;
    background-color: #ffffff;
  }

  .btn-danger:hover, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: #dc3545;
    background-color: #ffffff;
  }
  
  .btn-dark:hover, .btn-dark:active, .btn-dark.active, .open>.dropdown-toggle.btn-dark {
    color: #343a40;
    background-color: #ffffff;
  }

  .searchBox {
    margin-left: 10px;
    margin-top: 10px;
  }

  #searchLabel {
    padding-top: 15px;    
  }

  #limitation-input {
    float: right;
  }

  #searchDiv {
    float:right;
  }