<h1 class="text-center">Tạo tài khoản mới</h1>
<hr />

<div class="container create-dialog scrollbar">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Name">Tên đăng nhập</label>
        <input required class="form-control" [(ngModel)]="userName" #uName="ngModel">
      </div>

      <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
        <div *ngIf="uName.errors.required">
          Không được để trống tên đăng nhập!
        </div>
      </div>
      <div *ngIf="hasWhiteSpace" class="alert alert-danger">
        Tên đăng nhập không được chứa khoảng trống!
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="Title">Họ tên</label>
      <input required class="form-control" [(ngModel)]="title">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Password">Mật khẩu</label>
        <input required minlength="7" type="password" class="form-control" [(ngModel)]="password" #pass="ngModel">
      </div>

      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
        <div *ngIf="pass.errors.required">
          Không được để trống mật khẩu!
        </div>
        <div *ngIf="pass.errors.minlength">
          Mật khẩu phải chứa ít nhất 7 kí tự!
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="ConfirmPassword">Nhập lại mật khẩu</label>
        <input required type="password" class="form-control" [(ngModel)]="confirmPassword" #confirmPass="ngModel">
      </div>

      <div *ngIf="notMatched" class="alert alert-danger">
        Mật khẩu không khớp!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="CongTyCha">Thuộc công ty</label>
        <select class="form-control" (change)="companySelected()" [(ngModel)]="companyId">
          <option class="form-control" *ngFor="let company of companies" [ngValue]="company.id"> {{company.title}}
          </option>
        </select>
      </div>
    </div>



    <div class="form-group col-md-6">
      <label for="CongTyCha">Thuộc cửa hàng </label>
      <select class="form-control" (change)="storeSelected()" [(ngModel)]="storeId">
        <option class="form-control" *ngFor="let store of stores" [ngValue]="store.id"> {{store.title}} </option>
      </select>
    </div>
  </div>

  <div class="row">

    <div class="form-group col-md-4">
        <label for="CongTyCha">Quản lý công ty </label>
      <div class="form-group scrollbar" id="style-1">
        <mat-selection-list class="border" [(ngModel)]="selectedCompanies" #listroles>
          <mat-list-option *ngFor="let company of companies" [value]="company.id">
            {{company.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

    <div class="form-group col-md-4">
        <label for="CongTyCha">Quản lý cửa hàng </label>
      <div class="form-group scrollbar">
        <mat-selection-list class="border" [(ngModel)]="selectedStores">
          <mat-list-option *ngFor="let store of stores" [value]="store.id">
            {{store.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

    <div class="form-group col-md-4">
        <label for="CongTyCha">Vai trò</label>
        <div class="form-group scrollbar">
          <mat-selection-list class="border" [(ngModel)]="selectedRoles" #listroles>
            <mat-list-option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>

  </div>

  <div class="row">
      <div class="form-group col-6">
          <label for="CongTyCha">Quản lý kho nhập </label>
        <div class="form-group scrollbar" id="style-1">
          <mat-selection-list class="border" [(ngModel)]="selectedImportWarehouses" >
            <mat-list-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
              {{warehouse.name}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="form-group col-6">
          <label for="CongTyCha">Quản lý kho bán </label>
        <div class="form-group scrollbar" id="style-1">
          <mat-selection-list class="border" [(ngModel)]="selectedSellWarehouses" >
            <mat-list-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
              {{warehouse.name}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
</div>

</div>

<hr />
<div>
  <button id="create-button" class="btn btn-primary" (click)="createUser();">Lưu</button>
</div>

<div>
  <button id="cancel-button" class="btn btn-secondary" (click)="cancel();">Hủy</button>
</div>