#create-button {
    text-align: center;
    float: right;
}

#cancel-button {
    text-align: center;
    float: left;
}

.create-dialog {
    max-height: 700px;
}

 .scrollbar {
    max-height: 300px;
     overflow-y: scroll;
 }

 .childCheckbox {
     margin-left: 30px
 }

 ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #007bff !important; /* Red background for example */
}