<div class="container">
  <h1 class="text-center">Tạo nhà cung cấp mới</h1>
  <hr />

  <div class="row">

    <div class="col-md-9">
      <div class="form-group">
        <label for="Title">Tên nhà cung cấp</label>
        <input required class="form-control" [(ngModel)]="title" #uName="ngModel">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="Name">Mã nhà cung cấp</label>
        <input required class="form-control" [(ngModel)]="supplierCode" #uName="ngModel">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <label for="Name">Địa chỉ</label>
        <input required class="form-control" [(ngModel)]="address">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="Name">Số điện thoại</label>
        <input required class="form-control" [(ngModel)]="phoneNumber">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <label for="Name">Nhà sản xuất</label>
        <ng-multiselect-dropdown class="multiselect" [placeholder]="'Nhà sản xuất'" [data]="producerList" [(ngModel)]="selectedProducers"
          [settings]="dropdownSettings" >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
  
        <div class="form-group">
          <label for="Name">Nợ đầu kỳ</label>
          <div class="input-group mb-3">
              <input type="text" class="form-control" [(ngModel)]="beginningPeriodDebt" (keyup)="addCommasToBeginningPeriodDebt(event)" (blur)="onBlur()">
              <div class="input-group-prepend">
                  <span class="input-group-text">đ</span>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
    
          <div class="form-group">
            <label for="Name">Nợ hiện tại</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="currentDebt" (keyup)="addCommasToCurrentDebt(event)" (blur)="onBlur()">
                <div class="input-group-prepend">
                    <span class="input-group-text">đ</span>
                </div>
            </div>
          </div>
        </div>
      </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="Name">Ghi chú</label>
        <textarea required class="form-control" [(ngModel)]="note"></textarea>
      </div>
    </div>
  </div>

  <hr />

  <div>
    <button id="create-button" class="btn btn-primary" (click)="createSupplier();">Tạo</button>
  </div>

</div>