#create-button {
    text-align: center;
    float: right;
}

#cancel-button {
    text-align: center;
    float: left;
}

.container {
    padding-top: 15px;
    min-height: 700px;
}

.multiselect {
    min-width: 500px;
}