.table {
    width: 100%;
}

input {
    width: 100%;
}

span {
    display: block;
    overflow: hidden;
}

table {
    width: 100%;
  }
  
  .centre {
    text-align: center
  }
  
  .right {
    min-width: 222px;
    text-align: right;
  }
  
  
  #right-header {
    width: 150px;
    text-align: right;
    padding-right: 30px;
  }
  
  #add-button {
    margin-bottom: 25px;
  }
  
  #search-button {
    margin-top : 10px;
    margin-left: 15px;
  }
  
  
  td {
    height: 15px !important;
    padding: 10px 18px !important;
    vertical-align: middle !important;
  }
  
  #stt-column {
    width: 35px;
    text-align: center;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  button {
    opacity: 0.9;
    margin: 3px;
  }
  
  th {
    font-size: 18px;
    color: black;
  }
  
  i {
    text-align: center;
  }
  

  #searchBox {
    margin-left: 10px;
    margin-top: 10px;
  }
  
  #searchLabel {
    padding-top: 15px;    
  }