<h1 class="text-center">Tạo cửa hàng mới</h1>
<hr />

<div class="container create-dialog">

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="Title">Tên cửa hàng</label>
        <input required class="form-control" [(ngModel)]="title" #uName="ngModel">
      </div>

      <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
        <div *ngIf="uName.errors.required">
          Không được để trống tên cửa hàng!
        </div>
      </div>
    </div>

    
    <div class="col-md-4">
        <div class="form-group">
          <label for="Store">Mã cửa hàng</label>
          <input required class="form-control" [(ngModel)]="storeCode" #uName="ngModel">
        </div>
      </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <label for="Company">Công ty</label>
        <select class="form-control" [(ngModel)]="companyId">
          <option class="form-control" *ngFor="let company of companies" [value]="company.id"> {{companies.title}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
          <label for="Phone">Số điện thoại</label>
          <input required class="form-control" [(ngModel)]="phoneNumber" #uName="ngModel">
        </div>
      </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <label for="Address">Địa chỉ</label>
        <input required class="form-control" [(ngModel)]="address" #uName="ngModel">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <label for="">Kho hàng</label>
      <div class="form-group scrollbar">
        <mat-selection-list class="border" [(ngModel)]="selectedWarehouses">
          <mat-list-option>All</mat-list-option>
          <mat-list-option>All</mat-list-option>
          <mat-list-option>All</mat-list-option>
          <mat-list-option>All</mat-list-option>
          <mat-list-option>All</mat-list-option>
          <mat-list-option>All</mat-list-option>
          <mat-list-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
            {{warehouse.title}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>



  </div>

  
  <hr />


  <div>
    <button id="create-button" class="btn btn-primary" (click)="createStore();">Lưu</button>
  </div>

  <div>
    <button id="cancel-button" class="btn btn-secondary" (click)="cancel();">Hủy</button>
  </div>
</div>