<h1 class="text-center">Tạo vai trò mới</h1>
<hr />

<div class="container create-dialog">

  <div>
    <div>
      <div class="form-group">
        <label for="Title">Tên vai trò</label>
        <input required class="form-control" [(ngModel)]="title" #uName="ngModel">
      </div>

      <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
        <div *ngIf="uName.errors.required">
          Không được để trống tên vai trò!
        </div>
      </div>
    </div>
    <hr />

  <div class="form-group scrollbar">
    <!-- <mat-selection-list class="border" [(ngModel)]="selectedPermissions">
      <mat-list-option>All</mat-list-option>
      <mat-list-option *ngFor="let permission of permissions" [value]="permission.id">
        {{permission.display}}
      </mat-list-option>
    </mat-selection-list> -->

    <div *ngFor="let permissionGroup of permissionGroups; let i = index" >
        <mat-checkbox (click)="selectGroup(i)"> {{permissionGroup.name}}<br></mat-checkbox>
        <div  *ngFor="let permission of permissionGroup.permissions">
            <mat-checkbox class="childCheckbox" [checked]="permissionChecked[i]" [value]="permission.id"> {{permission.display}} </mat-checkbox><br>
        </div>
    </div>
    

  </div>

  <hr />


  <div>
    <button id="create-button" class="btn btn-primary" (click)="createRole();">Lưu</button>
  </div>

  <div>
    <button id="cancel-button" class="btn btn-secondary" (click)="cancel();">Hủy</button>
  </div>
</div>