/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body
{
   font-family: Tahoma, sans-serif !important;
}

.mat-pseudo-checkbox-checked::after {
  top: 4.4px !important;
  left: 2px !important;
  background: #007bff !important;
}


.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background: #007bff !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: #007bff !important;
  border: 2px solid #007bff !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
  border: 2px solid #007bff !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  background: #007bff !important;
}



table.dataTable thead th {
  border-bottom-width: 0px !important;
}

.table td {
  border-bottom-width: 0px !important;
}

.searchDiv {
  float:right;
}

.mat-tab-label {
  font-size: 18px !important;
}

.rightFloatButton {
  float: right;
  margin: 5px;
}

.leftFloatButton {
  float: left;
  margin: 5px;

}



* {
  font-size: 14px;
}

.btn-warning {
  color:white;
  background-color: #f0ad4e;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #007bff !important;
  background-color: #ffffff !important;
}

.btn-warning:hover,.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
  color: #f0ad4e !important;
  background-color: #ffffff !important;
}

.btn-success:hover,  .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  color: #28a745 !important;
  background-color: #ffffff !important;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
  color: #6c757d !important;
  background-color: #ffffff !important;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  color: #dc3545 !important;
  background-color: #ffffff !important;
}

.btn-dark:hover, .btn-dark:active, .btn-dark.active, .open>.dropdown-toggle.btn-dark {
  color: #343a40 !important;
  background-color: #ffffff !important;
}

