#add-button {
    margin-bottom: 25px;
  }

  button {
    opacity: 0.9;
    margin: 3px;
  }
  
  .right {
    min-width: 222px;
    text-align: right;
  }
  
  #right-header {
    width: 150px;
    text-align: right;
  }
  
  td {
    height: 15px !important;
    padding: 10px 18px !important;
    vertical-align: middle !important;
  }