<div class="container">
  <h1 class="text-center">Tạo tên sản phẩm mới</h1>
  <hr />

  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <label for="Title">Tên sản phẩm</label>
        <input required class="form-control" [(ngModel)]="title" #uName="ngModel">
      </div>
    </div>

  </div>

  <!-- <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <label for="Name">Nhà sản xuất</label>
        <ng-multiselect-dropdown class="multiselect" [placeholder]="'Chọn nhà sản xuất'" [data]="producers" [(ngModel)]="selectedProducer"
          [settings]="singleDropdownSettings">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div> -->

  <!-- <mat-form-field>
    <label for="Name">Nhà sản xuất</label>

    <mat-select [formControl]="bankCtrl" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let producer of producers" [value]="producer.title">
        {{producer.title}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name">Nhà sản xuất</label>
          <div class="input-group mb-3">
            <select [(ngModel)]="selectedProducer" class="form-control custom-select">
              <option *ngFor="let producer of producers" [value]="producer.id">{{producer.title}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <label for="Name">Kho hàng</label>
        <ng-multiselect-dropdown class="multiselect" [placeholder]="'Chọn kho hàng'" [data]="warehouses" [(ngModel)]="selectedWarehouses"
          [settings]="multiDropdownSettings">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="head-lable" for="Name">Loại hàng</label>
        <hr />
        <div class="form-check" *ngFor="let groupProductType of groupProductTypes">
          <input class="form-check-input" type="radio" [name]="groupProductType.title" [id]="groupProductType.title"
            [value]="groupProductType.id" [(ngModel)]="selectedGroupProductType" (change)='groupProductTypeChange();'>
          <label class="form-check-label" [for]="groupProductType.title">
            {{groupProductType.title}}
          </label>
        </div>
      </div>
    </div>




    <div class="col-md-4">
      <div class="form-group">
        <label class="head-lable" for="Name">Đơn vị</label>
        <hr />

        <div class="input-group mb-3">
          <mat-selection-list class="border" [(ngModel)]="selectedUnitIds" #listroles>
            <mat-list-option *ngFor="let unit of units" [value]="unit.id">
              {{unit.title}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="form-group">
        <label class="head-lable" for="Name">Loại sóng</label>
        <hr />

        <div class="input-group mb-3">
          <mat-selection-list class="border" [(ngModel)]="selectedWaveTypeIds" #listroles>
            <mat-list-option *ngFor="let waveType of waveTypes" [value]="waveType.id">
              {{waveType.title}}
            </mat-list-option>
          </mat-selection-list>

        </div>
      </div>
    </div>

  </div>



  <hr />

  <div>
    <button id="create-button" class="btn btn-primary" (click)="save();">Lưu</button>
  </div>

</div>