table {
    width: 100%;
  }

  .centre {
    text-align: center
  }

  .right {
    text-align: right
  }

  td {
    height: 8px;
  }

  

 
  

  button {
    margin-left: 5px;
  }

  th {
    min-width: 350px;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }

  i {
    font-size: 20px !important;
    vertical-align: middle;
    text-align: center;
  }

