<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>




<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="centre"> STT </th>
    <td mat-cell *matCellDef="let element" class="centre"> {{index}} </td>
  </ng-container>

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> Tên đăng nhập </th>
    <td [style.color]="element.userStatus? 'red' : 'black'" mat-cell *matCellDef="let element">
      {{element.userName}} </td>
  </ng-container>
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Họ tên nhân viên </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="header-right" > Thao tác </th>
    <td mat-cell *matCellDef="let element" class="right" >
      <button title="Chi tiết" type="button" class="btn btn-primary" [routerLink]="['/Edituser', element.id]"><i class="material-icons">build</i></button>
      <button title="Xóa" type="button" class="btn btn-warning" (click)="openDeleteConfirmationDialog(element.id)"><i
          class="material-icons">delete</i></button>
      <button title="Khôi phục mật khẩu" type="button" class="btn btn-secondary" (click)="openResetPasswordConfirmationDialog(element.id)"><i
          class="material-icons">restore</i></button>
      <button title="Kích hoạt tài khoản" *ngIf="element.userStatus" type="button" class="btn btn-success" (click)="openActivateConfirmationDialog(element.id)"><i
          class="material-icons">done</i></button>
      <button title="Khóa tài khoản" *ngIf="!element.userStatus" type="button" class="btn btn-danger" (click)="openDeactivateConfirmationDialog(element.id)"><i
          class="material-icons">clear</i></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<ng-container>


      
  <!-- <label>Hiển thị <select [(ngModel)]="pageSize" (ngModelChange)="pageSizeChange($event)">
      <option [ngValue]=10> 10 </option>
      <option [ngValue]=25> 25 </option>
      <option [ngValue]=50> 50 </option>
    </select> tài khoản </label> -->

    <div style="float:right" class="col-md-auto">
      <div>
          <button id="add-button" style="float: right;" type="button" class="btn btn-dark" (click)="openCreateUserDialog()"> <i
            class="fa fa-plus"> Tạo tài khoản</i>
          </button>
      </div>

    
        <div id="searchDiv" class="row align-items-end d-flex">
          <div  class="form-group row col-md-auto">
            <label id="searchLabel" for="search">Tìm kiếm:</label>
            <div>
                <input class="form-control searchBox" name="search" [(ngModel)]="searchString" />
            </div>
        
            <button id="search-button"  type="button" class="btn btn-primary" (click)="search()"> <i
              class="fa fa-search"> Tìm</i>
          </button>
          </div>
        </div>
    </div>
    


<!--   
    <div id="limitation-input" class="form-group row col-4">
      <label id="searchLabel" for="limitedUser">Giới hạn số lượng tài khoản:</label>
      <div>
          <input  class="form-control searchBox" name="limitedUser" [(ngModel)]="limitedUser" />
          {{limitedUser}}
      </div>
  
      <button id="search-button"  type="button" class="btn btn-primary" (click)="setLimitation()"> <i
        class="fa fa-check">Áp dụng</i>
    </button>
    </div> -->



  <table id="user-table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table table-striped ">
    <thead>
      <tr>
        <th scope="col" id="stt-column" (click)="sortById()">STT</th>
        <th scope="col"><a class="clickable" (click)="sortByUserName()">Tên đăng nhập</a>
           <a *ngIf="sortField == 'UserName' && asc==true">▾</a>
           <a *ngIf="sortField == 'UserName' && asc==false">▴</a>
        </th>
        <th scope="col"><a class="clickable" (click)="sortByFullName()">Họ tên</a>
          <a *ngIf="sortField == 'FullName' && asc==true">▾</a>
          <a *ngIf="sortField == 'FullName' && asc==false">▴</a>
        </th>
        <th scope="col"> Cửa hàng</th>
        <th scope="col"> Ngày tạo</th>
        <th scope="col" id="right-header">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td scope="row" id="stt-column"> {{(pageIndex-1)*pageSize + i + 1}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.fullName}}</td>
        <td>Futurify</td>
        <td>23/11/2018</td>

        <td class="right">
          <button title="Chi tiết" type="button" class="btn btn-primary" (click)="openEditUserDialog(user.id)"><i class="fa fa-edit"></i></button>
          <button title="Khóa tài khoản" *ngIf="!user.userStatus" type="button" class="btn btn-warning" (click)="openDeactivateConfirmationDialog(user.id)"><i
               class="fa fa-lock"></i></button>
          <button title="Mở khóa tài khoản" *ngIf="user.userStatus" type="button" class="btn btn-success" (click)="openActivateConfirmationDialog(user.id)"><i
              class="fa fa-unlock"></i></button>
          <button title="Khôi phục mật khẩu" type="button" class="btn btn-secondary" (click)="openResetPasswordConfirmationDialog(user.id)"><i
              class="fa fa-history"></i></button>
          <button title="Xóa" type="button" class="btn btn-danger" (click)="openDeleteConfirmationDialog(user.id)"><i
              class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="float:right" class="col-md-auto">
      <ngb-pagination [collectionSize]="totalUser*10/pageSize" [(page)]="pageIndex" aria-label="Default pagination"
    (pageChange)="pageIndexChange($event)">
  </ngb-pagination>
  </div>


  <p>Hiển thị tài khoản {{(pageIndex-1)*pageSize + 1}} tới
    {{pageIndex*pageSize>totalUser?totalUser:pageIndex*pageSize}} trong tổng số {{totalUser}} tài khoản</p>
</ng-container>

